
    <!--Grid row-->
    <div class="row wow fadeIn">
    
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 offset-md-3">
            <!--Card-->
            <div class="card">
    
                <!-- Card header -->
                <div class="card-header"><b>Iniciar Seccion</b></div>
    
                <!--Card content-->
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputNombres1">Nombres</label>
                            <input type="text" class="form-control" id="exampleInputNombres1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputApellidos1">Apellidos</label>
                            <input type="text" class="form-control" id="exampleInputApellidos1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUser1">Usuario</label>
                            <input type="text" class="form-control" id="exampleInputUser1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Registrar</button>
                        <a routerLink="/" class="btn btn-blue"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </form>
                    <a routerLink="/Ingresar">Ya estoy registrado</a>
                </div>
    
            </div>
            <!--/.Card-->
    
        </div>
        <!--Grid column-->
    </div>
