<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a routerLink="/">Inicio</a>
            <span>/</span>
            <span>Operaciones Matematica SUMA</span>
        </h4>

    </div>

</div>
<!-- Heading -->
<!-- Grid row -->
<div class="row">
    <!-- Grid column -->
    <div class="col-md-3">
        <div class="card border border-info">
            <div class="card-body">
                <h4 class="text-center">Operaciones Matematicas</h4>
                <hr class="border border-info">
                Suma de 4 + 4 = {{ 4+4 }} <br>
                Resta de 8 - 3 = {{ 8-3 }} <br>
                Multiplicacio de 4 x 5 = {{ 4*5 }} <br>
                Divicion de 20 / 4 = {{ 20/4 }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border border-success">
            <div class="card-body">
                <h5 class="card-title">Operaciones Sumas</h5>
                <div class="form-outline">
                    <input type="number" id="typeNumber" #num1 [value] = "firtNumber" class="form-control" />
                    <label class="form-label" for="typeNumber">Numero Uno</label>
                </div>
                <div class="form-outline">
                    <input type="number" id="typeNumber" #num2 [value] = "secundNumber" class="form-control" />
                    <label class="form-label" for="typeNumber">Numero Dos</label>
                </div>
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" (click)="getAdd(num1.value,num2.value)">
                    <i class="fas fa-plus"></i> Sumar
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border border-primary">
            <div class="card-body">
                <h4 class="text-center">Resultados</h4>
                <hr class="border border-primary">
                <h1><b>Suma = {{this.sum}}</b></h1>
            </div>
        </div>
    </div>
</div>
