
        <!-- Grid row -->
        <div class="row">
        
            <!-- Grid column -->
            <div class="col-md-12 mb-3">
        
                <img src="./assets/img/ima/Dolomitas.jpg" class="img-fluid z-depth-1"
                    alt="Responsive image" width="100%">
        
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
        
        <!-- Grid row -->
        <div class="row">
        
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-3">
        
                <img src="./assets/img/ima/A.jpg" class="img-fluid z-depth-1"
                    alt="Responsive image">
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-3">
        
                <img src="./assets/img/ima/C.jpg" class="img-fluid z-depth-1"
                    alt="Responsive image">
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-3">
        
                <img src="./assets/img/ima/E.jpg" class="img-fluid z-depth-1"
                    alt="Responsive image">
        
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
        
        <!-- Grid row -->
        <div class="row">
        
            <!-- Grid column -->
            <div class="col-md-6 mb-3">
        
                <img src="./assets/img/ima/Kirkjufell.jpg" class="img-fluid z-depth-1"
                    alt="Responsive image">
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-6 mb-3">
        
                <img src="./assets/img/ima/Luoping.gif" class="img-fluid z-depth-1"
                    alt="Responsive image">
        
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
